# -----------------------------------------------------------------------------
# Database (PostgreSQL)
# -----------------------------------------------------------------------------
POSTGRES_URL='postgresql://neondb_owner:npg_5csUF1OjYvKZ@ep-delicate-wind-ahvn2hfw-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL='http://localhost:3000'
# -----------------------------------------------------------------------------
# Authentication (Better Auth)
# openssl rand -base64 32
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET='NoD3RYq2u76/M8aGCRvFS3hYtD86MieNDiOF32MozP0='

GITHUB_CLIENT_ID='1'
GITHUB_CLIENT_SECRET='1'

# -----------------------------------------------------------------------------
# Email (RESEND)
# -----------------------------------------------------------------------------
RESEND_API_KEY='1'
RESEND_FROM='1'

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# Stripe
STRIPE_API_KEY="1"
STRIPE_WEBHOOK_SECRET="1"
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"

NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PRICE_ID="price_"

# posthog
NEXT_PUBLIC_POSTHOG_KEY=" "
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# admin account
ADMIN_EMAIL="admin@saasfly.io,root@saasfly.io"

# next auth debug
IS_DEBUG=false